<div id='new${_id}' class='col-xs-6 col-md-3'>
	<div class='thumbnail' style='overflow: hidden;'>
			<a href='${_link}' id="l${_id}" target='_blank' onclick='reader(${_id},${_idFeed})'> <img id='img${_id}'
				src='${_image}' width="100%" height="150px"  data-src="holder.js/100%x180" />
			</a>
			<div class="caption">
				<a href='${_link}' id="m${_id}" target='_blank' onclick='reader(${_id},${_idFeed})'
					style='color: #212121; text-decoration: none;'> ${_title}</a><br />
				<small id="date${_id}" class="text-muted">${_pubDate}</small>
				<hr/>
				<p class="text-muted">
				<img src="${_feedImage}" width="20px" height="20px" class="img-rounded pull-left"/>
<!-- 				<button id='del${_id}' type="button" class="close" onclick='reader(${_id},${_idFeed})'>&times;</button>
 -->				<small>	&nbsp;&nbsp; ${_feedTitle}</small>
				</p>
			</div>
	</div>
</div>