
<div class="col-md-2 col-xs-2" >
<!-- 	<a href="@{Config.rss}" class="btn btn-lg btn-primary"><STRONG>INSCREVER</STRONG></a>
<br/> -->
<div class="list-group scroll-y" style="height: 540px; width: 100%;">
	
	#{list items:mc.feeds, as:'feed'}
			<a id="feedLink${feed.id}" href="@{FeedRSS.messages(feed.id)}#feedLink${feed.id}" class="list-group-item" style="overflow: hidden;" onclick="active(this);" target="corpo">
			
			<div style="white-space: nowrap; width: 110px; overflow: hidden;" class="pull-left">
			 	${feed.title}  
			 </div>
			<span id="size${feed.id}" class="badge">${feed.size}</span>
			
			</a>
	#{/list}
</div>
</div>
<script>
	function active(link) {
		$(".list-group-item").each(
				function() {
			$(this).removeClass("active");
				});
		$(link).addClass("active");
	}
</script>
