
<div class="col-md-2 col-xs-2" >
<!-- 	<a href="@{Config.rss}" class="btn btn-lg btn-primary"><STRONG>INSCREVER</STRONG></a>
<br/> -->
<div id="menu" class="list-group" style="height: 580px;">
	
	#{list items:mc.feeds, as:'feed'}
		%{active = (feed.id == mc.idFeed)? "active" : ""}%
			<a id="feedLink${feed.id}" href="@{FeedRSS.messages(feed.id)}#feedLink${feed.id}" class="list-group-item ${active}" style="overflow: hidden;" target="corpo">
			
			<div style="white-space: nowrap; width: 110px; overflow: hidden;" class="pull-left">
			 	${feed.title}  
			 </div>
			<span id="size${feed.id}" class="badge">${feed.size}</span>
			
			</a>
	#{/list}
</div>
</div>

