#{extends 'main2.html'/}
<script>
	function reader(id,idFeed) {
		var url = #{jsAction @FeedRSS.reader(':idFeedMessage') /};
		$.ajax({url: url({idFeedMessage: id}), dataType: "json" }).done(function(data){
			var box = $('#new'+id).clone();
			$('#size'+idFeed,parent.document).html(data);
		});
		
	}
	
</script>

<div class="row" style="margin: 0px">
	#{list items:feedMessages, as:'feedMessage'}
		#{feedBox id:feedMessage.id, title:feedMessage.title, description:feedMessage.description, pubDate:feedMessage.pubDate.format(), image:feedMessage.image, feedTitle:feedMessage.feed.title, link:feedMessage.link, idFeed:feedMessage.feed.id, feedImage:feedMessage.feed.image/}
		#{if feedMessage_index % 4 == 0}
			</div><div class="row" style="margin: 0px">
		#{/if}
	#{/list}
</div>